<div class="simple_card" style="flex-direction: row; align-items: center">
    <div class="left_column" style="align-items: flex-start">
        <h2 class="title" id="order_id">Order:</h2>
        <p class="big_text" style = 'margin:12px;' id="total_price">Total :</p>
        <p class="big_text" style = 'margin:12px;' id="date">Date :</p>
    </div>
    <div class="right_column" style='align-items: flex-end'>
        <img class='small_image' src="../../../assets/icons/status/delivered.svg" alt="Status" id="status_image" style="margin: 0">
        <p class="text" id="status_text">Status</p>
    </div>
</div>