<div class="simple_card" style="flex-direction: row; align-items: center">
    <div class="column" style="align-items: flex-start">
        <h2 class="title" id="order_id"></h2>
        <p class="big_text" style = 'margin:12px;' id="total_price"></p>
        <p class="big_text" style = 'margin:12px;' id="date"></p>
    </div>
    <div class="column" style='align-items: flex-end'>
        <img class='small_image' src="" alt="Status" id="status_image" style="margin: 0">
        <p class="text" id="status_text"></p>
    </div>
</div>