<div class="product simple_card" style="flex-direction: row">
    <div class="product_image_container">
        <img src="" alt="Product Image" id="product_image" class="fill_image">
    </div>
    <div>
        <p class="big_text" id="product_name"></p>
        <p class="text" id="product_small_description"></p>
    </div>
    <div class="flex_container direction_column" style="margin-left: auto;" id="money_container">
        <div class="product_quantity">
            <button class='decrease_button'>-</button>
            <label id="quantity">1</label>
            <button class='increase_button'>+</button>
            <button class="add_button" id="add-text">
                <svg
                        height="24"
                        width="24"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
                </svg>
                <span id='add_button_text' data-i18n="add"></span>
            </button>
        </div>
        <div class="flex_container row">
            <p id='product_price' class="big_text"></p>
            <p class="text" id="product_price_per_item">3</p>
        </div>
    </div>
</div>