/* Style for body */
body {
    overflow-x: hidden;
}

/* Style for thumbnail gallery */
.thumbnail_gallery {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    margin-top: 10px;
}

/* Style for thumbnail */
.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--tertiary_low);
    transition: transform 0.2s ease;
}

/* Hover effect for thumbnail */
.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px var(--tertiary_low);
}

/* Style for money container */
.money_container {
    align-items: flex-start;
    gap: 10px;
}

/* Style for image modal */
.image_modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--tertiary_low);
}

/* Style for image modal content */
.image_modal_content {
    transform: scale(0.8);
    display: block;
}

/* Style for close button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: var(--secondary);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* Hover/focus effect for close button */
.close:hover, .close:focus {
    color: var(--secondary);
    text-decoration: none;
    cursor: pointer;
}

/* Style for prev/next image arrows */
.prev_image, .next_image {
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: var(--secondary);
    padding: 10px;
    cursor: pointer;
    user-select: none;
    background-color: var(--tertiary);
    border-radius: 30%;
    transition: background-color 0.3s ease;
    transform: translateY(-50%);
}

/* Style for previous image arrow */
.prev_image {
    left: 8px;
}

/* Style for next image arrow */
.next_image {
    right: 8px;
}

/* Hover effect for prev/next image arrows */
.prev_image:hover, .next_image:hover {
    background-color: var(--tertiary);
}
