/* Dark overlay */
.popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--tertiary_low); /* semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Prevent scrolling */
body.popup_open {
    overflow: hidden;
}

/* Form card styling (inherits simple_card + more) */
.popup_form {
    position: relative;
    max-width: 800px;
    width: 90%;
    height: 85%;
    padding: 2rem;
    background-color: var(--secondary);
    border-radius: 12px;
    box-shadow: 0 0 20px var(--tertiary_low);
}

/* Close button */
.popup_close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Hide utility */
.hidden {
    display: none;
}

.checkbox_container {
    --input-focus: var(--primary);
    --input-out-of-focus: var(--secondary_low);
    --bg-color: var(--secondary);
    --bg-color-alt: var(--tertiary_low);
    --main-color: var(--tertiary);
    position: relative;
    cursor: pointer;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--tertiary);
    border-radius: 5px;
    box-shadow: 4px 4px var(--tertiary);
    background-color: var(--secondary);
    transition: all 0.3s;
}

.checkbox_container input:checked ~ .checkmark {
    background-color: var(--primary);
}

.checkmark:after {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--secondary);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox_container input:checked ~ .checkmark:after {
    display: block;
}
