/* From Uiverse.io by ammarsaa */
.form_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--tertiary_low);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--tertiary_low);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it's on top */
    box-sizing: border-box;
}

.form_title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: var(--primary)
}

.form_title::before {
    width: 18px;
    height: 18px;
}

.form_title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.form_title::before,
.form_title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0;
    background-color: var(--primary_low);
}

.form_message {
    font-size: 15px;
    color: var(--primary_low);
}
.form label {
    position: relative;
}

.form label .form_input {
    background-color: var(--tertiary_low);
    color: var(--primary);
    width: auto;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .form_input + span {
    color: var(--secondary);
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .form_input:placeholder-shown + span {
    top: 13px;
    font-size: 0.9em;
}

.form label .form_input:focus + span {
    top: 0;
    font-size: 0.7em;
    font-weight: 600;
}

.form_input {
    font-size: medium;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}


/* From Uiverse.io by xopc333 */
.form_button {
    display: block;
    width: 56px;
    height: 56px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    position: absolute;
    top: 8px;
    right: 12px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: opacity 0.2s ease;
    scale:70%;
}


.form_button:before,
.form_button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
}

.form_button:before {
    border: 4px solid var(--primary);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.form_button:after {
    border: 4px solid var(--shadow_green);
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.form_button:hover:before,
.form_button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.form_button:hover:after,
.form_button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.form_button_box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.form_button_elem {
    display: block;
    width: 20px;
    height: 20px;
    margin: 17px 18px 0 18px;
    transform: rotate(180deg);
    fill: var(--primary);
    border-color: black;
}

.form_button:hover .form_button_boxy,
.form_button:focus .form_button_box {
    transition: 0.4s;
    transform: translateX(-56px);
}
