<div class="form_overlay">
    <form class="form">
        <button class="form_button" id="form_back_button">
            <div class="form_button_box">
                <span class="form_button_elem">
                    <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                    </svg>
                </span>
                <span class="form_button_elem">
                    <svg viewBox="0 0 46 40">
                        <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                    </svg>
                </span>
            </div>
        </button>

        <p class="form_title" id="form_title">Address </p>
        <p class="form_message" id="form_message">Add New Address.</p>
        <label>
            <input class="form_input" type="text" id="form_item_1_input" required="">
            <span id="form_item_1_label">*Address</span>
        </label>
        <label>
            <input class="form_input" type="text" id="form_item_2_input" required="">
            <span id="form_item_2_label">*Zip Code</span>
        </label>
        <label>
            <input class="form_input" type="text" id="form_item_3_input" required="" >
            <span id="form_item_3_label">*City</span>
        </label>
        <label>
            <input class="form_input" type="text" id="form_item_4_input" required="">
            <span id="form_item_4_label">*Country</span>
        </label>
        <label>
            <input class="form_input" type="text" id="form_item_5_input" required="">
            <span id="form_item_5_label">BoxNow Locker ID</span>
        </label>
        <a href="../../../pages/settings/help.html" target="_blank">Θέλετε Βοήθεια Για να βρείτε το Box Now Locker ID ?</a>
        <button class="submit">Submit</button>
    </form>
</div>