<div class="form_overlay" id="payment_window">
   <div class="small_container simple_card" style="width: 50%" id="payment_window_inside">
       <div class="flex_container centering">
           <div class="tab_container">
               <input type="radio" name="tab" id="tab1" class="tab tab--1" />
               <label class="tab_label" for="tab1" data-i18n="payment_method_iris"></label>

               <input type="radio" name="tab" id="tab2" class="tab tab--2" />
               <label class="tab_label" for="tab2" data-i18n="payment_method_iban"></label>

               <input type="radio" name="tab" id="tab3" class="tab tab--3" />
               <label class="tab_label" for="tab3" data-i18n="payment_method_visa"></label>

               <div class="indicator"></div>
           </div>

           <button class="x_button" >
               <span class="x_X"></span>
               <span class="x_Y"></span>
               <div class="x_close"></div>
           </button>

       </div>
           <div>
               <h2 class="title" id="payment_title"></h2>
               <p class="text" id="payment_message"></p>
               <p class="text" id="payment_total"></p>
               <div class="flex_input">
                   <label class="input_label text" for="receipt" data-i18n="payment_receipt"></label>
                   <input class="input_field" type="text" id="receipt" data-i18n-placeholder="payment_receipt_number" required>
               </div>
               <button class="simple_button" id="payment_complete"  data-i18n="payment_complete"></button>
           </div>
       </div>

</div>