.component-title {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary);
    text-align: center;
}

.tab_container {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 2px;

    background-color: var(--secondary);
    border-radius: 9px;
}

.indicator {
    content: "";
    width: 130px;
    height: 28px;
    background: var(--secondary);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
    border: 1px solid var(--tertiary);
    box-shadow: 0 3px 8px var(--tertiary_low), 0 3px 1px var(--tertiary_low);
    border-radius: 7px;
    transition: all 0.2s ease-out;
}

.tab {
    width: 130px;
    height: 28px;
    position: absolute;
    z-index: 99;
    outline: none;
    opacity: 0;
}

.tab_label {
    width: 130px;
    height: 28px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary);
}

.tab--1:checked ~ .indicator {
    left: 2px;
}

.tab--2:checked ~ .indicator {
    left: calc(130px + 2px);
}

.tab--3:checked ~ .indicator {
    left: calc(130px * 2 + 2px);
}

