<div class="flex_container centering">
    <!-- Facebook Button -->
    <button class="social_button" onclick="window.open('', '_blank')">
        <span class="social_image">
            <img src="../../../assets/icons/social/facebook.svg" alt="Facebook" />
        </span>
        <span class="facebook"></span>
    </button>

    <!-- Instagram Button -->
    <button class="social_button" onclick="window.open('', '_blank')">
        <span class="social_image">
            <img src="../../../assets/icons/social/instagram.svg" alt="Instagram" />
        </span>
        <span class="instagram"></span>
    </button>
</div>