<div class="social_buttons_wrapper">
    <!-- Facebook Button -->
    <button class="social_button" onclick="window.open('https://web.facebook.com/profile.php?id=61553339634469', '_blank')">
    <span class="social_image">
      <img src="../../../assets/icons/social/facebook.svg" alt="Facebook" />
    </span>
        <span class="facebook"></span>
    </button>

    <!-- Instagram Button -->
    <button class="social_button" onclick="window.open('https://www.instagram.com/agroktima_mitsakis?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==', '_blank')">
    <span class="social_image">
      <img src="../../../assets/icons/social/instagram.svg" alt="Instagram" />
    </span>
        <span class="instagram"></span>
    </button>
</div>