/* Style for orders container */
.orders_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--secondary);
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--tertiary_low);
}

/* Style for orders list */
.orders_list {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    margin: 0 20px;
}

/* Style for search container */
.search_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 16px;
}

/* Style for search input */
.search_input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--primary);
    border: none;
    color: var(--tertiary);
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

/* Hover/focus effect for search input */
.search_input:hover, .search_input:focus {
    box-shadow: 0 0 1em var(--primary_low);
}

/* Focus effect for search input */
.search_input:focus {
    outline: none;
    background-color: var(--primary_low);
}

/* Placeholder style for search input */
.search_input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--secondary);
}

/* Style for search icon */
.search_icon {
    height: 1.3em;
    width: 1.3em;
    fill: var(--secondary);
}

/* Style for total price display */
.order_total_price {
    margin-left: auto;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}
