<div class="image_upload_container">
    <!-- Upload Box -->
    <label class="image_input" >
        <div class="small_image">
            <!-- Valid SVG Upload Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="var(--tertiary)" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 16V4m0 0l-4 4m4-4l4 4M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2"/>
            </svg>
        </div>
        <span class="text" data-i18n="add_new_product_upload_image_title"></span>
        <input type="file" class='image_upload' accept="image/*" multiple>
    </label>
    <!-- Preview Line -->
    <div class="preview_container"></div>
</div>
