.x_button {
    position: relative;
    width: 3em;
    height: 3em;
    border: none;
    background: var(--secondary_low);
    border-radius: 5px;
    transition: background 0.5s;
    transform: scale(0.8);
}

.x_X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2px;
    background-color: var(--tertiary);
    transform: translateX(-50%) rotate(45deg);
}

.x_Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2px;
    background-color: var(--tertiary);
    transform: translateX(-50%) rotate(-45deg);
}

.x_close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: var(--primary);
    color: var(--primary);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
}

.x_button:hover {
    background-color: var(--secondary);
}

.x_button:active {
    background-color: var(--secondary);
}

.x_button:hover > .x_close {
    animation: close 0.2s forwards 0.25s;
}

@keyframes x_close {
    100% {
        opacity: 1;
    }
}
