.simple_card {
    width: 100%;
    background: var(--secondary);
    box-shadow: 0 24px 48px var(--tertiary_low);
    border-radius: 7px;
    margin: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.shadow_card {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px var(--tertiary_low);
    display: flex; /* Change from inline-block to flex */
    background-color: var(--secondary);
    gap: 5px;
    flex-direction: column;
}

.top_left {
    border-radius: 19px 7px 7px 7px;
}

.top_right {
    border-radius: 7px 19px 7px 7px;
}

.bottom_left {
    border-radius: 7px 7px 7px 19px;
}

.bottom_right {
    border-radius: 7px 7px 19px 7px;
}