.checkout_details {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    gap: 5px;
}

.checkout_details span {
    font-size: 15px;
    font-weight: 600;
}

.checkout_details span:nth-child(odd) {
    font-size: 15px;
    font-weight: 800;
    color: var(--tertiary);
    margin: auto auto auto 0;
}

.checkout_details span:nth-child(even) {
    font-size: 13px;
    font-weight: 600;
    color:var(--tertiary);
    margin: auto 0 auto auto;
}

.checkout_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background: var(--tertiary_low)
}

.cart_products {
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 20px;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: clip;
}