/* x-Large image style */
.huge_image {
    width: 100%;
    height: auto;
    transform: scale(0.8);
    border-radius: 10px;
}
/* Large image style */
.big_image {
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin: 8px;
}

/* Regular image style */
.regular_image {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin: 8px;
}

/* Small image style */
.small_image {
    width: 15%;
    height: auto;
    border-radius: 10px;
    margin: 8px;
}

/* Tiny image style */
.tiny_image {
    height: 50px;
    border-radius: 10px;
    margin: 8px;
}