<span class="shadow_card" style="flex-direction: row">
    <div  class="address_click"> <!-- choose container -->
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24" height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-circle-icon lucide-circle">
            <circle cx="12" cy="12" r="10"/>
        </svg>
        <p class="text" style="user-select: none;"></p> <!-- text -->
    </div>
    <div class="address_edit_click" > <!-- edit container -->
        <img src="../../assets/icons/edit.svg" alt="Edit Item 3"> <!-- edit -->
    </div>
</span>