:root {
    /* Base Colors */
    --white: #ffffff;
    --black: #000000;
    --black_low: #00000066;
    --white_low: #ffffff1A;

    /* Greens */
    --green_low: #22c55e;
    --green: #32cd32;

    /* Red */
    --red: #FF0000FF;
    --red_low: #FF0000CC;

    /* Blue */
    --blue: #3b82f6;
    --blue_low: #3b82f6CC;

    /* Social */
    --facebook: #0165e1;
    --instagram1: #f09433;
    --instagram2: #e6683c;
    --instagram3: #dc2743;
    --instagram4: #cc2366;
    --instagram5: #bc1888;
}
