:root {
    /* Base Colors */
    --white: #ffffff;
    --black: #1E1E1E;
    --black_low: #00000066;
    --white_low: #ffffff66;

    /* Greens */
    --green_low: #28A745;
    --green: #32cd32;

    /* Red */
    --red: #FF0000FF;
    --red_low: #B22222;

    /* Blue */
    --blue: #3b82f6;
    --blue_low: #3b82f6CC;

    /* Social */
    --facebook: #0165e1;
    --instagram1: #f09433;
    --instagram2: #e6683c;
    --instagram3: #dc2743;
    --instagram4: #cc2366;
    --instagram5: #bc1888;
}
