/* Light Theme */
:root[data-theme="light"] {
    --primary: var(--green);
    --primary_low: var(--green_low);
    --secondary: var(--white);
    --secondary_low: var(--white_low);
    --tertiary: var(--black);
    --tertiary_low: var(--black_low);
    --quaternary: var(--red);
    --quaternary_low: var(--red_low);

}

/* Dark Theme */
:root[data-theme="dark"] {
    --primary: var(--green_low);
    --primary_low: var(--green);
    --secondary: var(--black);
    --secondary_low: var(--black_low);
    --tertiary: var(--white);
    --tertiary_low: var(--white_low);
    --quaternary: var(--red);
    --quaternary_low: var(--red_low);
}