/* Light Theme */
:root[data-theme="light"] {
    /* Basic Colors */
    --background: var(--white);
    --surface: var(--gray-100);
    --border: var(--gray-200);

    /* Shadow */
    --shadow_green: var(--green-700);
    --shadow: var(--gray-400);
    --shadow_deeper: var(--gray-800);

    /* Backgrounds */
    --background_green: var(--green-600);
    --backgorund_green_darker: var(--green-700);
    --background_red: var(--red-600);

    /* Titles and Texts */
    --big_title: var(--red-600);
    --big_text: var(--black);
    --text: var(--white);


    --primary: var(--green);
    --primary-hover: var(--green-700);
    --primary-bg: var(--green-100);
}

/* Dark Theme */
:root[data-theme="dark"] {
    --background: var(--dark);
    --shadow: var(--gray-400);
    --shadow_deeper: var(--gray-800);

    --surface_basic: var(--gray-300);
    --border_basic: var(--gray-200);

    /* Shadow */
    --shadow_green: var(--green-800);

    /* Backgrounds */
    --background_green: var(--green-700);
    --background_red: var(--red-600);

    /* Titles and Texts*/
    --big_title: var(--red-600);
    --big_text: var(--white);

    --primary: var(--green-700);
    --primary-hover: var(--green-300);
    --primary-bg: var(--green-900);
}