.help_container {
    max-width: 800px;
    margin: 40px auto;
    background: var(--secondary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--tertiary_low);
}

.special_second_container {
    margin: 0;
    align-items: center
}

.special_second_container p {
    padding-right: 4px;
}